body, html{
    height: 100%;
}

.poppins-thin{
    font-family: poppins, sans-serif;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.main-cadastro{
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    background-image: url(img/Sec1.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.texto-container{
    
    flex-wrap: wrap;
    padding: 80px;
    width: 30%;
    bottom: 50%;
    color: white;
 }
 .texto-main{
    font-family: montserrat, sans-serif;
    font-weight: normal;
}
.gatos{
    padding: 80px;
}
.gatos-img{
    display: flex;
    justify-content: space-around   ;
}
.cadastro{
    padding: 80px;
    background-image: url(img/Group\ 8.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

button{
    background-color: rgba(48, 108, 180, 1);
    border: solid;
    border-radius: 5px;
    border-color: blue;
    color: white;
    height: 40px;
    width: 120px;
    font-family: montserrat, sans-serif;
    font-weight: normal;
}

#logo1{
    align-items: end;
}
